<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] || "Bringing reasoning to the Web" %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Bringing reasoning to the Web</h1>
        <h2>Delivering Semantic Web reasoning for people</h2>
      </hgroup>
    </header>
    <article>
      <%= yield %>
    </article>
    <footer>
      <p>
        &copy;2012
        <a href="http://multimedialab.elis.ugent.be/">Multimedia Lab – Ghent University / ELIS – IBBT</a>
      </p>
    </footer>
  </body>
</html>
